.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 25px;
  max-width: 1200px;
}
.photo-card {
  // flex-basis: calc(100% - 72px) / 4;
  // width: 250px;
  
}

.info {
  display: flex;
  gap: 10px;
  max-width: 250px;
  align-items: center;
  justify-content: space-around;;
}
.info-item {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  text-align: center;
}

b,
span {
  display: block;
}
